[Unit]
Description=VMLite Audio Amplifier Service
After=pipewire.service pulseaudio.service sound.target

[Service]
Type=simple
ExecStart=%h/.local/bin/run.sh 300
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target